<!DOCTYPE html>
<html>
  <head>
    <title>GreycampusForum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'forum_styles', :async => "async", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'forum', :async => "async", 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "partials/header" %>
    <%= yield %>
  </body>
</html>
